/* Make sure your Leaflet maps actually render properly */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-tooltip {
  max-width: 14rem;
  white-space: normal;
}